*{
	margin: 0;
}

header{
    max-height: 400px;
    height: 120%;
    background: url(index_bg.jpg) center bottom ;
    background-size: cover;
    }



.h1{
    text-align: center;
    font-size: 72px;
    font-size: 5.5vw;
    font-weight: 700;
    font-family: bookman;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    margin-bottom: 20px;
    clear: both;
    padding-top: 100px;
    }
    
.span{
        display: inline-block;
        padding: 0.2em 0.5em;
        border: white solid 10px;
}

.tag{
    text-align: center;
    letter-spacing: 0.05em;
    color: white;
    line-height: 1;
    font-family: sans-serif;
	text-transform: uppercase;
}    

#imgProfile{
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	display: flex;
	margin: 0 auto;
	padding: 30px;
}

#p01 {
    color: black;
	text-align: center;
	font-size: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	text-shadow: 2px 1px dimgrey;

	
}

#p02 {
   color: darkslategrey;
	text-align: center;
	padding-bottom: 40px;
	margin-right: 20%;
	margin-left: 20%;
	line-height: 30px;
	font-size: 21px;
	
}


@media only screen and (max-width: 750px) {
    header {
        
		 max-height: 300px;
    	height: 100%;
		
    }
	
	
	
	
	
